.form-control {
    width: 50%;
}
.form-select {
    width: 50%;
}
.fixed-width {
    width: 100px;
}



@media (min-width: 480px) {
    .container {
        margin: 40px auto;
        max-width: 800px;
        padding: 20px;
    }
}
@media (min-width: 768px) {
    .container {
        margin: 40px auto;
        max-width: 800px;
        padding: 20px;
    }
}
@media (min-width: 1024px) {
    .container {
        margin: 40px auto;
        max-width: 800px;
        padding: 20px;
    }
}